Repository StefanIonutTasca/Software_Quality_2025, pull requests merged in 2025-03, with the labels that each got.

#13 style: Format Java code with Google Java Format
  src/main/java/org/jabberpoint/src/AboutBox.java
  src/main/java/org/jabberpoint/src/Accessor.java
  src/main/java/org/jabberpoint/src/BitmapItem.java
  src/main/java/org/jabberpoint/src/DemoPresentation.java
  src/main/java/org/jabberpoint/src/JabberPoint.java
  src/main/java/org/jabberpoint/src/KeyController.java
  src/main/java/org/jabberpoint/src/MenuController.java
  src/main/java/org/jabberpoint/src/Presentation.java
  src/main/java/org/jabberpoint/src/Slide.java
  src/main/java/org/jabberpoint/src/SlideItem.java
  src/main/java/org/jabberpoint/src/SlideViewerComponent.java
  src/main/java/org/jabberpoint/src/SlideViewerFrame.java
  src/main/java/org/jabberpoint/src/Style.java
  src/main/java/org/jabberpoint/src/TextItem.java
  src/main/java/org/jabberpoint/src/XMLAccessor.java
Labels: source

#15 Acceptance
  .github/labeler.yml
  .github/workflows/automated_integration_tests.yml
  .github/workflows/build.yml
  .github/workflows/ci-cd.yml
  .github/workflows/code_check.yml
  .github/workflows/google_linter.yml
  .github/workflows/labeler.yml
  .github/workflows/pullRequest.yml
  README.md
  docs/CI_CD_Pipeline.md
  docs/Contributing.md
  docs/DTAP_Workflow.md
  docs/JaCoCo_Setup.md
  pom.xml
  src/main/java/org/jabberpoint/.DS_Store
  src/main/java/org/jabberpoint/COPYRIGHT.txt
  src/main/java/org/jabberpoint/JabberPoint.gif
  src/main/java/org/jabberpoint/JabberPoint.jpg
  src/main/java/org/jabberpoint/Main.java
  src/main/java/org/jabberpoint/README.md
  src/main/java/org/jabberpoint/jabberpoint.dtd
  src/main/java/org/jabberpoint/logo-woordmerk_ou.gif
  src/main/java/org/jabberpoint/presentation/Presentation.java
  src/main/java/org/jabberpoint/presentation/Slide.java
  src/main/java/org/jabberpoint/serclogo_fc.jpg
  src/main/java/org/jabberpoint/src/AboutBox.java
  src/main/java/org/jabberpoint/src/Accessor.java
  src/main/java/org/jabberpoint/src/BitmapItem.java
  src/main/java/org/jabberpoint/src/DemoPresentation.java
  src/main/java/org/jabberpoint/src/JabberPoint.java
  src/main/java/org/jabberpoint/src/KeyController.java
  src/main/java/org/jabberpoint/src/MenuController.java
  src/main/java/org/jabberpoint/src/Presentation.java
  src/main/java/org/jabberpoint/src/Slide.java
  src/main/java/org/jabberpoint/src/SlideItem.java
  src/main/java/org/jabberpoint/src/SlideViewerComponent.java
  src/main/java/org/jabberpoint/src/SlideViewerFrame.java
  src/main/java/org/jabberpoint/src/Style.java
  src/main/java/org/jabberpoint/src/TextItem.java
  src/main/java/org/jabberpoint/src/XMLAccessor.java
  src/main/java/org/jabberpoint/test.xml
  src/test/java/org/jabberpoint/integration/IntegrationTestSuite.java
  src/test/java/org/jabberpoint/presentation/SlideTest.java
Labels: documentation, test, ci, configuration, source

#17 added the factory pattern for slide items
  src/main/java/org/jabberpoint/src/SlideItemFactory.java
Labels: source

#25 added the rest of the classes
  src/main/java/org/jabberpoint/src/AboutBox.java
  src/main/java/org/jabberpoint/src/JabberPoint.java
  src/main/java/org/jabberpoint/src/Presentation.java
  src/main/java/org/jabberpoint/src/PresentationObserver.java
  src/main/java/org/jabberpoint/src/Slide.java
  src/main/java/org/jabberpoint/src/SlideItem.java
  src/main/java/org/jabberpoint/src/SlideViewerComponent.java
  src/main/java/org/jabberpoint/src/SlideViewerFrame.java
  src/main/java/org/jabberpoint/src/Style.java
  src/main/java/org/jabberpoint/src/TextItem.java
  src/main/java/org/jabberpoint/src/XMLAccessor.java
  src/main/java/org/jabberpoint/src/XMLPresentationLoader.java
Labels: source

#24 fix the Jacoco from the pom.xml
  .github/workflows/ci-cd.yml
  pom.xml
Labels: ci, configuration

#26 fixing the last problem from ci/cd
  src/main/java/org/jabberpoint/src/XMLPresentationLoader.java
Labels: source
