Repository StefanIonutTasca/Software_Quality_2025, pull requests merged in 2025-04, with the labels that each got.

#27 Class tests
  pom.xml
  src/test/java/org/jabberpoint/test/BitmapItemTest.java
  src/test/java/org/jabberpoint/test/PresentationTest.java
  src/test/java/org/jabberpoint/test/SlideTest.java
  src/test/java/org/jabberpoint/test/StyleTest.java
  src/test/java/org/jabberpoint/test/TextItemTest.java
Labels: test, configuration

#28 Development
  .github/workflows/ci-cd.yml
  dump.xml
  pom.xml
  src/main/java/org/jabberpoint/.DS_Store
  src/main/java/org/jabberpoint/COPYRIGHT.txt
  src/main/java/org/jabberpoint/JabberPoint.gif
  src/main/java/org/jabberpoint/JabberPoint.jpg
  src/main/java/org/jabberpoint/Main.java
  src/main/java/org/jabberpoint/README.md
  src/main/java/org/jabberpoint/jabberpoint.dtd
  src/main/java/org/jabberpoint/logo-woordmerk_ou.gif
  src/main/java/org/jabberpoint/presentation/Presentation.java
  src/main/java/org/jabberpoint/presentation/Slide.java
  src/main/java/org/jabberpoint/presentation/Theme.java
  src/main/java/org/jabberpoint/serclogo_fc.jpg
  src/main/java/org/jabberpoint/src/AboutBox.java
  src/main/java/org/jabberpoint/src/Accessor.java
  src/main/java/org/jabberpoint/src/BitmapItem.java
  src/main/java/org/jabberpoint/src/Command.java
  src/main/java/org/jabberpoint/src/DemoPresentation.java
  src/main/java/org/jabberpoint/src/DemoPresentationLoader.java
  src/main/java/org/jabberpoint/src/DummyComponent.java
  src/main/java/org/jabberpoint/src/ExitCommand.java
  src/main/java/org/jabberpoint/src/JabberPoint.java
  src/main/java/org/jabberpoint/src/KeyController.java
  src/main/java/org/jabberpoint/src/MenuController.java
  src/main/java/org/jabberpoint/src/NewPresentationCommand.java
  src/main/java/org/jabberpoint/src/NextSlideCommand.java
  src/main/java/org/jabberpoint/src/OpenFileCommand.java
  src/main/java/org/jabberpoint/src/Presentation.java
  src/main/java/org/jabberpoint/src/PresentationLoader.java
  src/main/java/org/jabberpoint/src/PresentationLoaderFactory.java
  src/main/java/org/jabberpoint/src/PresentationObserver.java
  src/main/java/org/jabberpoint/src/PrevSlideCommand.java
  src/main/java/org/jabberpoint/src/SaveFileCommand.java
  src/main/java/org/jabberpoint/src/Slide.java
  src/main/java/org/jabberpoint/src/SlideItem.java
  src/main/java/org/jabberpoint/src/SlideItemFactory.java
  src/main/java/org/jabberpoint/src/SlideViewerComponent.java
  src/main/java/org/jabberpoint/src/SlideViewerFrame.java
  src/main/java/org/jabberpoint/src/Style.java
  src/main/java/org/jabberpoint/src/TextItem.java
  src/main/java/org/jabberpoint/src/XMLAccessor.java
  src/main/java/org/jabberpoint/src/XMLPresentationLoader.java
  src/main/java/org/jabberpoint/test.xml
  src/test/java/org/jabberpoint/presentation/PresentationTest.java
  src/test/java/org/jabberpoint/presentation/SlideTest.java
  src/test/java/org/jabberpoint/presentation/ThemeTest.java
  src/test/java/org/jabberpoint/test/BitmapItemTest.java
  src/test/java/org/jabberpoint/test/CommandTest.java
  src/test/java/org/jabberpoint/test/DemoPresentationLoaderTest.java
  src/test/java/org/jabberpoint/test/KeyControllerTest.java
  src/test/java/org/jabberpoint/test/PresentationLoaderFactoryTest.java
  src/test/java/org/jabberpoint/test/PresentationTest.java
  src/test/java/org/jabberpoint/test/SlideTest.java
  src/test/java/org/jabberpoint/test/StyleTest.java
  src/test/java/org/jabberpoint/test/TextItemTest.java
  src/test/java/org/jabberpoint/test/XMLPresentationLoaderTest.java
Labels: documentation, test, ci, configuration, source

#36 Demo presentation feature
  dump.xml
  src/main/java/org/jabberpoint/OurPresentation.xml
  src/main/java/org/jabberpoint/campus.jpg
  src/main/java/org/jabberpoint/dump.xml
  src/main/java/org/jabberpoint/src/control/MenuController.java
  src/main/java/org/jabberpoint/test.xml
  src/main/java/org/jabberpoint/testImage.png
  src/main/java/org/jabberpoint/testPhoto.jpg
Labels: source

#37 uppdate docs
  README.md
  docs/JaCoCo_Setup.md
Labels: documentation

#42 Fix Dupplicate tests push/commit
  .github/workflows/automated_integration_tests.yml
  .github/workflows/ci-cd.yml
Labels: ci

#44 Development
  .github/workflows/automated_integration_tests.yml
  .github/workflows/ci-cd.yml
Labels: ci

#45 Changed the coverage of the checks on specific branches
  .github/workflows/code_check.yml
  .github/workflows/google_linter.yml
Labels: ci

#47 Development
  .github/workflows/code_check.yml
  .github/workflows/google_linter.yml
Labels: ci

#48 delete the push on branches acceptance and testing
  .github/workflows/ci-cd.yml
  .github/workflows/code_check.yml
  .github/workflows/google_linter.yml
Labels: ci

#49 Development
  .github/workflows/automated_integration_tests.yml
  .github/workflows/ci-cd.yml
  .github/workflows/code_check.yml
  .github/workflows/google_linter.yml
Labels: ci

#43 style: Format Java code with Google Java Format
  src/main/java/org/jabberpoint/src/app/JabberPoint.java
  src/main/java/org/jabberpoint/src/command/Command.java
  src/main/java/org/jabberpoint/src/command/ExitCommand.java
  src/main/java/org/jabberpoint/src/command/NewPresentationCommand.java
  src/main/java/org/jabberpoint/src/command/NextSlideCommand.java
  src/main/java/org/jabberpoint/src/command/OpenFileCommand.java
  src/main/java/org/jabberpoint/src/command/PrevSlideCommand.java
  src/main/java/org/jabberpoint/src/command/SaveFileCommand.java
  src/main/java/org/jabberpoint/src/control/KeyController.java
  src/main/java/org/jabberpoint/src/control/MenuController.java
  src/main/java/org/jabberpoint/src/io/Accessor.java
  src/main/java/org/jabberpoint/src/io/DemoPresentation.java
  src/main/java/org/jabberpoint/src/io/DemoPresentationLoader.java
  src/main/java/org/jabberpoint/src/io/PresentationLoader.java
  src/main/java/org/jabberpoint/src/io/PresentationLoaderFactory.java
  src/main/java/org/jabberpoint/src/io/XMLAccessor.java
  src/main/java/org/jabberpoint/src/io/XMLPresentationLoader.java
  src/main/java/org/jabberpoint/src/model/BitmapItem.java
  src/main/java/org/jabberpoint/src/model/Presentation.java
  src/main/java/org/jabberpoint/src/model/PresentationObserver.java
  src/main/java/org/jabberpoint/src/model/Slide.java
  src/main/java/org/jabberpoint/src/model/SlideItem.java
  src/main/java/org/jabberpoint/src/model/SlideItemFactory.java
  src/main/java/org/jabberpoint/src/model/Style.java
  src/main/java/org/jabberpoint/src/model/TextItem.java
  src/main/java/org/jabberpoint/src/ui/AboutBox.java
  src/main/java/org/jabberpoint/src/ui/DummyComponent.java
  src/main/java/org/jabberpoint/src/ui/SlideViewerComponent.java
  src/main/java/org/jabberpoint/src/ui/SlideViewerFrame.java
  src/test/java/org/jabberpoint/integration/IntegrationTestSuite.java
  src/test/java/org/jabberpoint/test/AboutBoxTest.java
  src/test/java/org/jabberpoint/test/AccessorTest.java
  src/test/java/org/jabberpoint/test/BitmapItemTest.java
  src/test/java/org/jabberpoint/test/CommandTest.java
  src/test/java/org/jabberpoint/test/CommandsTest.java
  src/test/java/org/jabberpoint/test/DemoPresentationLoaderTest.java
  src/test/java/org/jabberpoint/test/DemoPresentationTest.java
  src/test/java/org/jabberpoint/test/JabberPointTest.java
  src/test/java/org/jabberpoint/test/KeyControllerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerActionListenerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerTest.java
  src/test/java/org/jabberpoint/test/OpenFileCommandTest.java
  src/test/java/org/jabberpoint/test/PresentationLoaderFactoryTest.java
  src/test/java/org/jabberpoint/test/PresentationTest.java
  src/test/java/org/jabberpoint/test/SaveFileCommandTest.java
  src/test/java/org/jabberpoint/test/SlideItemFactoryTest.java
  src/test/java/org/jabberpoint/test/SlideTest.java
  src/test/java/org/jabberpoint/test/SlideViewerComponentTest.java
  src/test/java/org/jabberpoint/test/SlideViewerFrameTest.java
  src/test/java/org/jabberpoint/test/StyleTest.java
  src/test/java/org/jabberpoint/test/TextItemTest.java
  src/test/java/org/jabberpoint/test/XMLAccessorTest.java
  src/test/java/org/jabberpoint/test/XMLPresentationLoaderTest.java
Labels: test, source

#52 Development
  .github/workflows/ci-cd.yml
  .github/workflows/code_check.yml
  .github/workflows/google_linter.yml
  src/main/java/org/jabberpoint/src/app/JabberPoint.java
  src/main/java/org/jabberpoint/src/command/Command.java
  src/main/java/org/jabberpoint/src/command/ExitCommand.java
  src/main/java/org/jabberpoint/src/command/NewPresentationCommand.java
  src/main/java/org/jabberpoint/src/command/NextSlideCommand.java
  src/main/java/org/jabberpoint/src/command/OpenFileCommand.java
  src/main/java/org/jabberpoint/src/command/PrevSlideCommand.java
  src/main/java/org/jabberpoint/src/command/SaveFileCommand.java
  src/main/java/org/jabberpoint/src/control/KeyController.java
  src/main/java/org/jabberpoint/src/control/MenuController.java
  src/main/java/org/jabberpoint/src/io/Accessor.java
  src/main/java/org/jabberpoint/src/io/DemoPresentation.java
  src/main/java/org/jabberpoint/src/io/DemoPresentationLoader.java
  src/main/java/org/jabberpoint/src/io/PresentationLoader.java
  src/main/java/org/jabberpoint/src/io/PresentationLoaderFactory.java
  src/main/java/org/jabberpoint/src/io/XMLAccessor.java
  src/main/java/org/jabberpoint/src/io/XMLPresentationLoader.java
  src/main/java/org/jabberpoint/src/model/BitmapItem.java
  src/main/java/org/jabberpoint/src/model/Presentation.java
  src/main/java/org/jabberpoint/src/model/PresentationObserver.java
  src/main/java/org/jabberpoint/src/model/Slide.java
  src/main/java/org/jabberpoint/src/model/SlideItem.java
  src/main/java/org/jabberpoint/src/model/SlideItemFactory.java
  src/main/java/org/jabberpoint/src/model/Style.java
  src/main/java/org/jabberpoint/src/model/TextItem.java
  src/main/java/org/jabberpoint/src/ui/AboutBox.java
  src/main/java/org/jabberpoint/src/ui/DummyComponent.java
  src/main/java/org/jabberpoint/src/ui/SlideViewerComponent.java
  src/main/java/org/jabberpoint/src/ui/SlideViewerFrame.java
  src/test/java/org/jabberpoint/integration/IntegrationTestSuite.java
  src/test/java/org/jabberpoint/test/AboutBoxTest.java
  src/test/java/org/jabberpoint/test/AccessorTest.java
  src/test/java/org/jabberpoint/test/BitmapItemTest.java
  src/test/java/org/jabberpoint/test/CommandTest.java
  src/test/java/org/jabberpoint/test/CommandsTest.java
  src/test/java/org/jabberpoint/test/DemoPresentationLoaderTest.java
  src/test/java/org/jabberpoint/test/DemoPresentationTest.java
  src/test/java/org/jabberpoint/test/JabberPointTest.java
  src/test/java/org/jabberpoint/test/KeyControllerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerActionListenerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerTest.java
  src/test/java/org/jabberpoint/test/OpenFileCommandTest.java
  src/test/java/org/jabberpoint/test/PresentationLoaderFactoryTest.java
  src/test/java/org/jabberpoint/test/PresentationTest.java
  src/test/java/org/jabberpoint/test/SaveFileCommandTest.java
  src/test/java/org/jabberpoint/test/SlideItemFactoryTest.java
  src/test/java/org/jabberpoint/test/SlideTest.java
  src/test/java/org/jabberpoint/test/SlideViewerComponentTest.java
  src/test/java/org/jabberpoint/test/SlideViewerFrameTest.java
  src/test/java/org/jabberpoint/test/StyleTest.java
  src/test/java/org/jabberpoint/test/TextItemTest.java
  src/test/java/org/jabberpoint/test/XMLAccessorTest.java
  src/test/java/org/jabberpoint/test/XMLPresentationLoaderTest.java
Labels: test, ci, source

#51 style: Format Java code with Google Java Format
  src/main/java/org/jabberpoint/src/command/Command.java
  src/main/java/org/jabberpoint/src/io/PresentationLoaderFactory.java
  src/main/java/org/jabberpoint/src/model/BitmapItem.java
  src/main/java/org/jabberpoint/src/model/Presentation.java
  src/main/java/org/jabberpoint/src/model/PresentationObserver.java
  src/main/java/org/jabberpoint/src/model/Slide.java
  src/main/java/org/jabberpoint/src/model/SlideItem.java
  src/main/java/org/jabberpoint/src/model/SlideItemFactory.java
  src/main/java/org/jabberpoint/src/model/Style.java
  src/main/java/org/jabberpoint/src/model/TextItem.java
  src/main/java/org/jabberpoint/src/ui/AboutBox.java
  src/test/java/org/jabberpoint/test/AboutBoxTest.java
  src/test/java/org/jabberpoint/test/AccessorTest.java
  src/test/java/org/jabberpoint/test/DemoPresentationTest.java
  src/test/java/org/jabberpoint/test/JabberPointTest.java
  src/test/java/org/jabberpoint/test/KeyControllerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerActionListenerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerTest.java
  src/test/java/org/jabberpoint/test/SlideItemFactoryTest.java
  src/test/java/org/jabberpoint/test/SlideViewerComponentTest.java
  src/test/java/org/jabberpoint/test/SlideViewerFrameTest.java
  src/test/java/org/jabberpoint/test/XMLPresentationLoaderTest.java
Labels: test, source

#53 Testing
  src/main/java/org/jabberpoint/src/app/JabberPoint.java
  src/main/java/org/jabberpoint/src/command/Command.java
  src/main/java/org/jabberpoint/src/command/ExitCommand.java
  src/main/java/org/jabberpoint/src/command/NewPresentationCommand.java
  src/main/java/org/jabberpoint/src/command/NextSlideCommand.java
  src/main/java/org/jabberpoint/src/command/OpenFileCommand.java
  src/main/java/org/jabberpoint/src/command/PrevSlideCommand.java
  src/main/java/org/jabberpoint/src/command/SaveFileCommand.java
  src/main/java/org/jabberpoint/src/control/KeyController.java
  src/main/java/org/jabberpoint/src/control/MenuController.java
  src/main/java/org/jabberpoint/src/io/Accessor.java
  src/main/java/org/jabberpoint/src/io/DemoPresentation.java
  src/main/java/org/jabberpoint/src/io/DemoPresentationLoader.java
  src/main/java/org/jabberpoint/src/io/PresentationLoader.java
  src/main/java/org/jabberpoint/src/io/PresentationLoaderFactory.java
  src/main/java/org/jabberpoint/src/io/XMLAccessor.java
  src/main/java/org/jabberpoint/src/io/XMLPresentationLoader.java
  src/main/java/org/jabberpoint/src/model/BitmapItem.java
  src/main/java/org/jabberpoint/src/model/Presentation.java
  src/main/java/org/jabberpoint/src/model/PresentationObserver.java
  src/main/java/org/jabberpoint/src/model/Slide.java
  src/main/java/org/jabberpoint/src/model/SlideItem.java
  src/main/java/org/jabberpoint/src/model/SlideItemFactory.java
  src/main/java/org/jabberpoint/src/model/Style.java
  src/main/java/org/jabberpoint/src/model/TextItem.java
  src/main/java/org/jabberpoint/src/ui/AboutBox.java
  src/main/java/org/jabberpoint/src/ui/DummyComponent.java
  src/main/java/org/jabberpoint/src/ui/SlideViewerComponent.java
  src/main/java/org/jabberpoint/src/ui/SlideViewerFrame.java
  src/test/java/org/jabberpoint/integration/IntegrationTestSuite.java
  src/test/java/org/jabberpoint/test/AboutBoxTest.java
  src/test/java/org/jabberpoint/test/AccessorTest.java
  src/test/java/org/jabberpoint/test/BitmapItemTest.java
  src/test/java/org/jabberpoint/test/CommandTest.java
  src/test/java/org/jabberpoint/test/CommandsTest.java
  src/test/java/org/jabberpoint/test/DemoPresentationLoaderTest.java
  src/test/java/org/jabberpoint/test/DemoPresentationTest.java
  src/test/java/org/jabberpoint/test/JabberPointTest.java
  src/test/java/org/jabberpoint/test/KeyControllerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerActionListenerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerTest.java
  src/test/java/org/jabberpoint/test/OpenFileCommandTest.java
  src/test/java/org/jabberpoint/test/PresentationLoaderFactoryTest.java
  src/test/java/org/jabberpoint/test/PresentationTest.java
  src/test/java/org/jabberpoint/test/SaveFileCommandTest.java
  src/test/java/org/jabberpoint/test/SlideItemFactoryTest.java
  src/test/java/org/jabberpoint/test/SlideTest.java
  src/test/java/org/jabberpoint/test/SlideViewerComponentTest.java
  src/test/java/org/jabberpoint/test/SlideViewerFrameTest.java
  src/test/java/org/jabberpoint/test/StyleTest.java
  src/test/java/org/jabberpoint/test/TextItemTest.java
  src/test/java/org/jabberpoint/test/XMLAccessorTest.java
  src/test/java/org/jabberpoint/test/XMLPresentationLoaderTest.java
Labels: test, source

#54 Development
  .github/workflows/automated_integration_tests.yml
  .github/workflows/build.yml
  src/main/java/org/jabberpoint/src/command/Command.java
  src/main/java/org/jabberpoint/src/io/PresentationLoaderFactory.java
  src/main/java/org/jabberpoint/src/model/BitmapItem.java
  src/main/java/org/jabberpoint/src/model/Presentation.java
  src/main/java/org/jabberpoint/src/model/PresentationObserver.java
  src/main/java/org/jabberpoint/src/model/Slide.java
  src/main/java/org/jabberpoint/src/model/SlideItem.java
  src/main/java/org/jabberpoint/src/model/SlideItemFactory.java
  src/main/java/org/jabberpoint/src/model/Style.java
  src/main/java/org/jabberpoint/src/model/TextItem.java
  src/main/java/org/jabberpoint/src/ui/AboutBox.java
  src/test/java/org/jabberpoint/test/AboutBoxTest.java
  src/test/java/org/jabberpoint/test/AccessorTest.java
  src/test/java/org/jabberpoint/test/DemoPresentationTest.java
  src/test/java/org/jabberpoint/test/JabberPointTest.java
  src/test/java/org/jabberpoint/test/KeyControllerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerActionListenerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerTest.java
  src/test/java/org/jabberpoint/test/SlideItemFactoryTest.java
  src/test/java/org/jabberpoint/test/SlideViewerComponentTest.java
  src/test/java/org/jabberpoint/test/SlideViewerFrameTest.java
  src/test/java/org/jabberpoint/test/XMLPresentationLoaderTest.java
Labels: test, ci, source

#55 Testing
  .github/workflows/automated_integration_tests.yml
  .github/workflows/build.yml
  src/main/java/org/jabberpoint/src/command/Command.java
  src/main/java/org/jabberpoint/src/io/PresentationLoaderFactory.java
  src/main/java/org/jabberpoint/src/model/BitmapItem.java
  src/main/java/org/jabberpoint/src/model/Presentation.java
  src/main/java/org/jabberpoint/src/model/PresentationObserver.java
  src/main/java/org/jabberpoint/src/model/Slide.java
  src/main/java/org/jabberpoint/src/model/SlideItem.java
  src/main/java/org/jabberpoint/src/model/SlideItemFactory.java
  src/main/java/org/jabberpoint/src/model/Style.java
  src/main/java/org/jabberpoint/src/model/TextItem.java
  src/main/java/org/jabberpoint/src/ui/AboutBox.java
  src/test/java/org/jabberpoint/test/AboutBoxTest.java
  src/test/java/org/jabberpoint/test/AccessorTest.java
  src/test/java/org/jabberpoint/test/DemoPresentationTest.java
  src/test/java/org/jabberpoint/test/JabberPointTest.java
  src/test/java/org/jabberpoint/test/KeyControllerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerActionListenerTest.java
  src/test/java/org/jabberpoint/test/MenuControllerTest.java
  src/test/java/org/jabberpoint/test/SlideItemFactoryTest.java
  src/test/java/org/jabberpoint/test/SlideViewerComponentTest.java
  src/test/java/org/jabberpoint/test/SlideViewerFrameTest.java
  src/test/java/org/jabberpoint/test/XMLPresentationLoaderTest.java
Labels: test, ci, source

#57 uppdate the Documentation
  README.md
  docs/CI_CD_Pipeline.md
  docs/DTAP_Workflow.md
  docs/JaCoCo_Setup.md
  resolve_conflicts.ps1
Labels: documentation

#58 Development
  README.md
  docs/CI_CD_Pipeline.md
  docs/DTAP_Workflow.md
  docs/JaCoCo_Setup.md
  resolve_conflicts.ps1
Labels: documentation

#62 Last change for the documentation
  README.md
  docs/CI_CD_Pipeline.md
Labels: documentation

#63 Testing
  README.md
  docs/CI_CD_Pipeline.md
Labels: documentation

#64 Acceptance
  README.md
  docs/CI_CD_Pipeline.md
Labels: documentation
